$primaryBackgroundColor: #ffffff;
$primaryBackgroundColorDark: #222222;

$primarySplashColor:#40916c linear-gradient(147deg,#67B26F, #4ca2cd) no-repeat;
$primarySplashColorDark: #153528 linear-gradient(147deg,#153528, #234b5e) no-repeat;

$primaryTextColor: #4d4d4d;
$primaryTextColorDark: #ffffff;

$secondaryTextColor: #67B26F;
$secondaryTextColorDark: #153528;

$primaryNavColor: #4d4d4d;
